In [1]:
# 3 Data Analyses
## 3.1 Investigative statistics
### Set up environment

In [59]:
# Import packages
import numpy as np
import pandas as pd
from scipy.stats import shapiro 


import copy
import datetime
import math
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
# Load 30-year records from each target station.
COH726 = pd.read_csv(r'C:/Users/15414/Documents/GitHub/MA Precip/MAPrecipData/Data_Products/COH726_30yr.csv')
LYN614 = pd.read_csv(r'C:/Users/15414/Documents/GitHub/MA Precip/MAPrecipData/Data_Products/LYN614_30yr.csv')
WEY738 = pd.read_csv(r'C:/Users/15414/Documents/GitHub/MA Precip/MAPrecipData/Data_Products/WEY738_30yr.csv')

# Test: The records are 30 years long.
n = 360 # Length of record in months.
assert (len(COH726) == n) & (len(LYN614) == n) & (len(WEY738) == n), "One or more records do not contain exactly 30 years of data." 

# Test: Record lengths are equal across datasets.
assert (len(COH726) == len(LYN614)) & (len(WEY738) == len(LYN614)), "One or more records are unequal lengths."

In [22]:
# Index all records by date.

dates = pd.date_range("1-1-1990", periods=len(COH726), freq="M")
dates = pd.to_datetime(dates)

COH726["Date"] = dates
COH726 = COH726.set_index("Date")
COH726 = COH726[['Precipitation']]

LYN614["Date"] = dates
LYN614 = LYN614.set_index("Date")
LYN614 = LYN614[['Precipitation']]

WEY738["Date"] = dates
WEY738 = WEY738.set_index("Date")
WEY738 = WEY738[['Precipitation']]

            Precipitation
Date
1990-01-31           4.89
1990-02-28           1.15
1990-03-31           5.51
1990-04-30           6.17
1990-05-31           1.37
...                   ...
2019-08-31            NaN
2019-09-30            NaN
2019-10-31           3.03
2019-11-30           0.99
2019-12-31           4.36

[360 rows x 1 columns]

### Calculate Descriptive statistics

In [135]:
# COH726
COH726_statistics = COH726.describe()

k = COH726.kurtosis()
s = COH726.skew()
med = COH726.median()
mod = COH726.mode()
test_value, p_value = shapiro(COH726.dropna())

data = [med[0], mod.iloc[0][0], k[0], s[0], test_value, p_value]
data_names = ['median', 'mode', 'kurtosis', 'skew', 'Shapiro-Wilkes statistic', 'Shapiro-Wilkes p-value']
stats = pd.DataFrame(data=data, index=data_names)

COH726_statistics = pd.concat([COH726_statistics, stats])
COH726_statistics.iloc[8:14,0] = COH726_statistics.iloc[8:14,1]
COH726_statistics = COH726_statistics.iloc[:,0] 
COH726_statistics = pd.DataFrame(data = COH726_statistics)
COH726_statistics

                          Precipitation
count                      3.270000e+02
mean                       4.154648e+00
std                        2.075257e+00
min                        1.100000e-01
25%                        2.735000e+00
50%                        3.900000e+00
75%                        5.200000e+00
max                        1.385000e+01
median                     3.900000e+00
mode                       2.990000e+00
kurtosis                   2.540983e+00
skew                       1.180946e+00
Shapiro-Wilkes statistic   9.351634e-01
Shapiro-Wilkes p-value     9.508798e-11